tmux*.log

config/nvim/spell/*.spl

config/zsh/zprofile.local
config/zsh/zsh_history
config/zsh/.zsh_history
config/zsh/.zcompdump
config/zsh/.zcompcache
config/zsh/.zinit

config/kitty/kitty.local.conf

dots/emacs.d/elpa/
.netrwhist

*.pyo
*.pyc

.vim
