tmux*.log

config/nvim/spell/*.spl
config/nvim/lua/packer_compiled.lua

config/zsh/zprofile.local
config/zsh/zsh_history
config/zsh/.zsh_history
config/zsh/.zcompdump
config/zsh/.zcompcache
config/zsh/.zinit
config/zsh/.zsh_sessions
config/zsh/.p10k.zsh.zwc

config/kitty/kitty.local.conf

config/git/config-scoro

config/lazygit/state.yml

dots/emacs.d/elpa/
.netrwhist

*.pyo
*.pyc

.vim

.luarc.json
