@namespace url("http://www.w3.org/1999/xhtml");

:root {
    --bg-color: #1d1f2b;
    --bg-hover-color: #292d3e;
    --bg-active-color: #343A51;

    --fg-lighter-color: #b9c0e5;
    --fg-color: #a6accd;
    --fg-darker-color: #7982B4;

    --purple-color: #C792EA;

    /* Settings pages */
    --in-content-page-background: var(--bg-color) !important;
    --in-content-text-color: var(--fg-color) !important;
    --in-content-page-color: var(--fg-color) !important;

    --newtab-background-color: #1d1f2b !important;
}

@-moz-document url("about:newtab"), url("about:home") {
    html:not(#ublock0-epicker),
    html:not(#ublock0-epicker) body,
    #newtab-customize-overlay,
    body,
    #root {
        /* background-color: #1d1f2b !important; */
        /* --newtab-background-color: #1d1f2b !important; */

        /* New tab page */
        --newtab-background-color: var(--bg-color) !important;
        --newtab-card-background-color: var(--bg-color) !important;
        --newtab-card-active-outline-color: var(--bg-hover-color) !important;
        --newtab-element-hover-color: var(--bg-color) !important;
        --newtab-topsites-background-color: var(--bg-color) !important;

        --newtab-section-header-text-color: var(--fg-color) !important;
        --newtab-text-primary-color: var(--fg-color) !important;
        --newtab-icon-primary-color: var(--fg-color) !important;
        --newtab-topsites-label-color: var(--fg-color) !important;
        --newtab-text-secondary-color: var(--fg-darker-color) !important;
        --newtab-link-primary-color: var(--purple-color) !important;

        --newtab-contextmenu-button-color: var(--bg-color) !important;
        --newtab-contextmenu-background-color: var(--bg-color) !important;
    }

    /* body, */
    /* body[lwt-newtab-brighttext] { */
    /*     background-color: #1d1f2b !important; */

    /*     /1* New tab page *1/ */
    /*     --newtab-background-color: var(--bg-color) !important; */
    /*     --newtab-card-background-color: var(--bg-color) !important; */
    /*     --newtab-card-active-outline-color: var(--bg-hover-color) !important; */
    /*     --newtab-element-hover-color: var(--bg-color) !important; */
    /*     --newtab-topsites-background-color: var(--bg-color) !important; */

    /*     --newtab-section-header-text-color: var(--fg-color) !important; */
    /*     --newtab-text-primary-color: var(--fg-color) !important; */
    /*     --newtab-icon-primary-color: var(--fg-color) !important; */
    /*     --newtab-topsites-label-color: var(--fg-color) !important; */
    /*     --newtab-text-secondary-color: var(--fg-darker-color) !important; */
    /*     --newtab-link-primary-color: var(--purple-color) !important; */

    /*     --newtab-contextmenu-button-color: var(--bg-color) !important; */
    /*     --newtab-contextmenu-background-color: var(--bg-color) !important; */
    /* } */
}
