/* Do not delete! */
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Customize the colors - my own customizations */

:root {
	--color-fg: #a6accd;
    --color-darker-fg: #7982B4;
	--color-bg: #292d3e;
    --color-darker-bg: #212331;
    --color-bg-hover: #343A51;
    --color-bg-active: #4e5579;

    --toolbar-bgcolor: var(--color-bg) !important;
	--toolbar-color: var(--color-fg) !important;
	--toolbarbutton-hover-background: var(--color-bg-hover) !important;
	--toolbarbutton-active-background: var(--color-bg-active) !important;
	--toolbarbutton-icon-fill-opacity: 0.6 !important;

    --lwt-toolbar-field-color: var(--color-fg) !important;
    --lwt-toolbar-field-background-color: var(--color-bg) !important;
    --lwt-toolbarbutton-icon-fill: var(--color-fg) !important;

    --arrowpanel-background: var(--color-bg) !important;
	--arrowpanel-border-color: var(--color-bg) !important;
}

/**
 * Change color of "loading" page when the website page hasn't quite loaded 
 * yet.
 */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background: var(--color-darker-bg) !important;
    background-color: var(--color-darker-bg) !important;
    color: var(--color-darker-bg) !important;
}

window#bookmarksPanel {
	--lwt-sidebar-background-color: var(--color-darker-bg) !important;
}

window#history-panel {
	--lwt-sidebar-background-color: var(--color-darker-bg) !important;
	--lwt-sidebar-text-color: var(--color-fg) !important;
}

#sidebar-box {
    --sidebar-background-color: var(--color-darker-bg) !important;
    --sidebar-text-color: var(--color-fg) !important;
}

/**
 * Remove border from URL bar.
 */
#tracking-protection-icon-container {
    border: none !important;
}

/**
 * Toolbar buttons (refresh/home/library/extensions).
 */
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
    fill-opacity: 1;
}
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack,
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
    background-color: var(--color-bg-hover) !important;
}
.toolbarbutton-icon {
    transition: background-color 100ms ease-in, fill-opacity 100ms ease-in;
}
.urlbar-icon-wrapper:not([disabled]):hover,
#tracking-protection-icon-container:hover:not([open="true"]),
:not(.urlbar-icon-wrapper) > .urlbar-icon:not([disabled]):hover,
#identity-box:hover:not(.no-hover):not([open="true"]) {
    background-color: var(--color-bg-hover) !important;
}

toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open],
[checked],
:hover:active) > .toolbarbutton-icon {
    background-color: var(--color-bg-active) !important;
}

/* Hacky way to make the url input bar centered */
#urlbar-input {
	text-align: center !important;
}

#urlbar-input:focus-within::placeholder {
    color: var(--color-fg);
}

/**
 * Inactive tabs
 */
#navigator-toolbox {
    background-color: var(--color-darker-bg);
    border: none !important;
}

/**
 * Tab hover.
 */
.tabbrowser-tab:hover .tab-background {
    background-color: var(--color-bg-hover) !important;
}

/* Full-width tabs */
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 100% !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

#tabs-newtab-button {
    padding: 0 !important;
}
#tabs-newtab-button .toolbarbutton-icon {
    border-radius: 0 !important;
}

/* Center and reduce the width of the urlbar list */
.urlbarView:not(.megabar) {
	box-shadow: none !important;
	background-color: var(--color-bg) !important;
	border-radius: 0 8px 8px !important;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 25%) !important;
}





/**
 * Recolor label thingy that shows up when hovering a link.
 */
#statuspanel-label {
    background-color: var(--color-darker-bg) !important;
    border: 1px none var(--color-bg) !important;
    border-top-style: solid !important;
    color: var(--color-darker-fg) !important;
}





/* Replace favicon on tabs with close button on hover */

.tabbrowser-tab:not(:hover) .tab-close-button {
    display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display:block !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
    display: none !important;
}

.tabbrowser-tab:hover .tab-throbber,
.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover .tab-icon-overlay,
.tabbrowser-tab:hover .tab-label-container,
.tabbrowser-tab:hover .tab-icon-sound {
    -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
    margin-left: -2px !important;
    margin-right: 4px !important;
}





/**
 * Most of the UI modifications come from https://www.reddit.com/r/FirefoxCSS/comments/a9vgxl/minimalist_theme/ by u/griam
 */

#alltabs-button {
    display: none;
}

:root {
    /* Active tab left & right borders */
    --tabs-border: transparent !important;
    /* 1px line under background tabs */
    --toolbox-border-bottom-color: transparent !important;
    /* Border around url bar */
    --chrome-nav-bar-controls-border-color: transparent !important;
}

:root:-moz-lwtheme {
    --toolbox-border-bottom-color: rgba(0, 0, 0, 0) !important;
}

:-moz-any(.tabs-newtab-button, #new-tab-button, #alltabs-button) .toolbarbutton-icon {
    margin-top: 1px !important;
}


/* Padding/border adjustements */
#nav-bar {
    border: none !important;
    padding: 0px 8px !important;
}

/* Shadow above content */
#navigator-toolbox {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2) !important;
}

/* Hide the back button unless we can actually go back. */
#back-button[disabled="true"] {
    display: none;
}

/* Hide the forward button always */
#forward-button {
    display: none;
}

#appMenu-notification-popup {
    margin-top: 90px;
    margin-right: 20px !important;
}

#appMenu-notification-popup .panel-arrowbox {
    display: none !important;
    visibility: collapse;
}

/* #PanelUI-button, */
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
    -moz-box-ordinal-group: 0 !important;
    margin-right: -2px !important;
}

/* Tab borders stuff */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border: none !important;
    color: grey !important;
    opacity: 0.2 !important;
}

.tabbrowser-tab[visuallyselected="true"] {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.33);
}

.tab-line {
    display: none !important;
}

/* URL Bar */
#urlbar[focused="true"],
#urlbar:hover,
.searchbar-textbox:hover {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    background: transparent !important;
    height: 16px !important;
    padding: 0px !important;
    font-size: 1.1em !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    -moz-appearance: none;
    margin: 2px 0 !important;
    min-height: 24px !important;
    cursor: default;
}

/* Hide bookmark button, page actions, security labels and extension icons */
.urlbar-history-dropmarker,
#star-button-box,
#pageActionButton,
#blocked-permissions-container,
#identity-icon-labels,
#extension-icon {
    display: none !important;
    background: transparent !important;
}

/* Borders inside URL bar */
#identity-box {
    border: 0 !important;
    padding: 0 4px !important;
}

#identity-box #identity-icon {
    margin-right: -20px !important;
    opacity: 0 !important;
}

/* Spacing. */
#TabsToolbar .titlebar-placeholder[type="pre-tabs"] {
    width: 1.22em !important;
    border-right: none !important;
}

.titlebar-placeholder[type="post-tabs"] {
    width: 8px !important;
}

#PersonalToolbar {
    max-height: none !important;
    /* Otherwise it's limited to 4em */
    height: 2.5em;
    /* Just some ridiculous size so you know it works. */
}


/* Hide titlebar spaces */
.titlebar-spacer {
    display: none;
}


/* White GitHub favicon */
.tabbrowser-tab[image^="data:image/x-icon;base64,AAABAAIAEBAAAAEAIAAoBQAAJgAAACAgAAABACAAKBQAAE4FAAAoAAAAEAAAACAAAAABACAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERE3YTExPFDg4OEgAAAAAAAAAADw8PERERFLETExNpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUFJYTExT8ExMU7QAAABkAAAAAAAAAAAAAABgVFRf/FRUX/xERE4UAAAAAAAAAAAAAAAAAAAAAAAAAABEREsETExTuERERHhAQEBAAAAAAAAAAAAAAAAAAAAANExMU9RUVF/8VFRf/EREUrwAAAAAAAAAAAAAAABQUFJkVFRf/BgYRLA4ODlwPDw/BDw8PIgAAAAAAAAAADw8PNBAQEP8VFRf/FRUX/xUVF/8UFBSPAAAAABAQEDAPDQ//AAAA"] .tab-icon-image {
    filter: invert(1.0) !important;
}

/* Put tabs below the nav bar. */
#titlebar {
    -moz-box-ordinal-group: 1 !important;
}

/* Put nav bar above the tab bar and make a space for traffic lights. */
#nav-bar {
    -moz-box-ordinal-group: 0 !important;
    padding-left: 75px !important;
}


/* Requires https://addons.mozilla.org/en-US/firefox/addon/tab-count-in-window-title/ */
/* Hides tab bar when there's only one tab. */
#main-window[titlepreface^="[1] "] .toolbar-items {
    visibility: collapse;
}

#main-window[titlepreface^="[1] "] #TabsToolbar {
    min-height: 0 !important;
}

#navigator-toolbox[readeractive="true"] {
    box-shadow: none !important;
}

#navigator-toolbox[readeractive="true"]::after {
    height: 0 !important;
}

#reader-mode-button {
    opacity: 0 !important;
    visibility: collapse !important;
}

#reader-mode-button[readeractive="true"] {
    opacity: 1 !important;
    visibility: visible !important;
}

#pageActionSeparator {
    opacity: 0 !important;
    margin-right: 2px !important;
    margin-left: 2px !important;
}

#tracking-protection-icon-container {
    border-image-slice: initial;
    padding: 0 4px;
}


/* Move traffic lights in the space carved above. */
.titlebar-buttonbox-container {
    position: absolute;
    display: block;
    margin-top: -35px
}
