/* Do not delete this line! */
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);





/**
 * UI customizations. These can be copied to create a similar layout to mine. 
 * This block does not include actual style changes so it should be pretty 
 * simple to copy to other setups.
 */

/**
 * Full-width tabs
 */
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
    flex-grow: 1 !important;
    min-width: 11em !important;
    max-width: 100% !important;
}

.tab-label {
    -moz-box-flex: 1 !important;
    text-align: center !important;
}



/**
 * Replace favicon on tabs with close button on hover.
 * https://www.reddit.com/r/FirefoxCSS/comments/dfydog/ff69_macos_tab_favicon_turns_into_tab_close/
 */
.tabbrowser-tab:not(:hover) .tab-close-button {
    display: none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: block !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
    display: none !important;
}

.tabbrowser-tab:hover .tab-throbber,
.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover .tab-icon-overlay,
.tabbrowser-tab:hover .tab-label-container,
.tabbrowser-tab:hover .tab-icon-sound {
    -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
    margin-left: -2px !important;
    margin-right: 4px !important;
}



/**
 * Center text in URL bar.
 */
#urlbar-input {
    text-align: center !important;
}



/**
 * Hide some things.
 * Left some commented out to see if they are useful.
 */
.titlebar-spacer,
#forward-button,
.urlbar-history-dropmarker,
#pageActionButton,
/* #blocked-permissions-container, */
/* #identity-icon-labels, */
/* #extension-icon, */
arrowscrollbox[scrolledtoend="true"]::part(arrowscrollbox-overflow-end-indicator),
arrowscrollbox[scrolledtostart="true"]::part(arrowscrollbox-overflow-start-indicator),
arrowscrollbox[notoverflowing="true"]::part(scrollbutton-up),
arrowscrollbox[notoverflowing="true"]::part(scrollbutton-down),
/* New tab button */
#tabs-newtab-button,
#alltabs-button {
    display: none;
}



/**
 * Remove some unnecessary borders.
 */
#navigator-toolbox,
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon,
.tabbrowser-tab::after,
.tabbrowser-tab::before,
#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover,
.tab-background[selected="true"],
.urlbarView,
#urlbar-background,
#urlbar-input-container,
.urlbarView.megabar .urlbarView-body-inner,
#tracking-protection-icon-container {
    border: none !important;
}



/**
 * Hide the back button unless we can actually go back.
 */
#back-button[disabled="true"] {
    display: none;
}



/**
 * Transparent background of all toolbar buttons.
 */
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack {
    background-color: transparent !important;
}



/**
 * Remove focus outline on URL bar.
 */
#urlbar[focused="true"] {
    box-shadow: none !important;
}
#urlbar:not(.megabar) {
    box-shadow: none !important;
}



/**
 * Put tab bar below URL bar.
 */
#nav-bar {
    -moz-box-ordinal-group: 0 !important;
    /* Make room for the macOS window control buttons. */
    padding-left: 75px !important;
}

/**
 * Move traffic lights to next to URL bar.
 */
.titlebar-buttonbox-container {
    position: absolute;
    display: block;
    margin-top: -24px
}

/**
 * Move tab line to the bototm of the tab box.
 */
.tab-line {
    -moz-box-ordinal-group: 2 !important;
}



/**
 * Set blank page background-color.
 */
#tabbrowser-tabpanels{
    background-color: transparent;
}



/**
 * Toolbar icon less transparent on hover.
 */
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon {
    transition: all 100ms ease-in;
}
.toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
    fill-opacity: 1;
}



/**
 * Hide tab bar when there is only one tab open.
 * https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_with_one_tab.css
 */

:root[sizemode="normal"] #nav-bar{
    --uc-window-drag-space-width: 20px;
}

#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox{ 
    min-height: 0 !important;
}

:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
    -moz-appearance: none !important;
    height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    -moz-box-align: stretch;
    margin: 0 !important;
}

:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1 > .toolbarbutton-icon{
    padding-block: 0 !important;
    max-height: 28px;
    height: 20px !important;
}

#tabbrowser-tabs .tabbrowser-tab {
    height: var(--tab-min-height);
}

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
    visibility: collapse !important;
}

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon {
    padding: 0 !important;
    transform: scale(0.6);
    background-color: transparent !important;
}

/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive] {
    transition: height 0ms steps(1) 80ms;
}
#nav-bar{
    border-inline: var(--uc-window-drag-space-width) solid var(--toolbar-bgcolor);
}
toolbar {
    min-height: 0 !important;
}





/**
 * Color customizations.
 */



:root {
    --color-lighter-fg: #b9c0e5;
    --color-fg: #a6accd;
    --color-darker-fg: #7982B4;

    --color-bg: #292d3e;
    --color-darker-bg: #212331;
    --color-bg-hover: #343A51;
    --color-bg-active: #4e5579;
    --color-bg-transparent: rgba(0, 10, 17, 0.5) !important;

    --color-blue: #82AAFF;

    --toolbar-bgcolor: var(--color-bg) !important;
    --toolbar-color: var(--color-fg) !important;
    --toolbarbutton-hover-background: var(--color-bg-hover) !important;
    --toolbarbutton-active-background: var(--color-bg-active) !important;

    --arrowpanel-background: var(--color-bg) !important;
    --arrowpanel-border-color: var(--color-bg) !important;

    --toolbar-color: var(--color-fg) !important;
    --toolbar-bgcolor: var(--color-bg-transparent) !important;

    --lwt-toolbar-field-background-color: transparent !important;
    --lwt-toolbar-field-focus: transparent !important;
    --lwt-toolbar-field-color: var(--color-lighter-fg) !important;

    --lwt-toolbarbutton-icon-fill: var(--color-fg) !important;
    --toolbarbutton-icon-fill-opacity: 0.6 !important;

    --autocomplete-popup-background: var(--color-darker-bg) !important;
}



/**
 * Add macOS style blur to as much of the UI as possible. Note that 
 * `-moz-appearance: -moz-mac-vibrancy-dark` only works on macOS!
 *
 * In order to get a similar effect on Linux, I set the background colors to be 
 * a bit transparent and use a compositor to get a blur effect (using dual 
 * kawase blur fork of picom).
 */

/* Tab bar & URL bar */
#TabsToolbar, #nav-bar, #PersonalToolbar, .theme-body, 
.theme-dark, .theme-light, slider, .CodeMirror, 
.devtools-toolbar, .message, .table-widget-empty-text,
.tab-background-inner, .table-widget-empty-text,
#titlebar,
/* "Loading page" when the website page hasn't quite loaded yet */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html,
/* URL bar dropdown */
.urlbarView {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
}

/**
 * On Linux, the loading page cannot be transparent, so let's add a better 
 * background color to it.
 */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background-color: var(--color-darker-bg) !important;
}

/**
 * Make it possible to have transparent bars & see wallpaper under the bars on 
 * Linux. Requires Compositing: WebRender.
 */
#main-window {
    background-color: transparent !important;
}

/**
 * Make some bars a bit transparent on Linux.
 */
#nav-bar,
#titlebar,
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
    background-color: var(--color-bg-transparent);
}



/**
 * Get rid of the linear gradient background on selected tabs.
 */
.tab-background[selected="true"]:-moz-lwtheme {
    background-image: none !important;
}



/**
 * White favicon for GitHub since black is difficult to see.
 */
.tabbrowser-tab[image^="data:image/x-icon;base64,AAABAAIAEBAAAAEAIAAoBQAAJgAAACAgAAABACAAKBQAAE4FAAAoAAAAEAAAACAAAAABACAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERE3YTExPFDg4OEgAAAAAAAAAADw8PERERFLETExNpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUFJYTExT8ExMU7QAAABkAAAAAAAAAAAAAABgVFRf/FRUX/xERE4UAAAAAAAAAAAAAAAAAAAAAAAAAABEREsETExTuERERHhAQEBAAAAAAAAAAAAAAAAAAAAANExMU9RUVF/8VFRf/EREUrwAAAAAAAAAAAAAAABQUFJkVFRf/BgYRLA4ODlwPDw/BDw8PIgAAAAAAAAAADw8PNBAQEP8VFRf/FRUX/xUVF/8UFBSPAAAAABAQEDAPDQ//AAAA"] .tab-icon-image {
    filter: invert(1.0) !important;
}



/**
 * Make the tab line color match with palenight colors.
 */
#tabbrowser-tabs {
    --tab-line-color: var(--color-blue) !important;
}



/**
 * Make URLbar text color a bit brighter.
 */
#urlbar-input:focus-within::placeholder {
    color: var(--color-fg);
}



#urlbar-background {
    box-shadow: none !important;
}