:root {
	--color-fg: #a6accd;
    --color-darker-fg: #7982B4;
	--color-bg: #292d3e;
    --color-darker-bg: #212331;
    --color-bg-hover: #343A51;
    --color-blue: #82aaff;

    /* Settings pages */
    --in-content-page-background: var(--color-darker-bg) !important;
    --in-content-text-color: var(--color-fg) !important;
    --in-content-page-color: var(--color-fg) !important;
}

body {
    /* New tab page */
    --newtab-background-color: var(--color-darker-bg) !important;
    --newtab-card-background-color: var(--color-bg) !important;
    --newtab-card-active-outline-color: var(--color-bg-hover) !important;
    --newtab-element-hover-color: var(--color-bg) !important;
    --newtab-topsites-background-color: var(--color-bg) !important;

    --newtab-section-header-text-color: var(--color-fg) !important;
    --newtab-text-primary-color: var(--color-fg) !important;
    --newtab-icon-primary-color: var(--color-fg) !important;
    --newtab-topsites-label-color: var(--color-fg) !important;
    --newtab-text-secondary-color: var(--color-darker-fg) !important;
    --newtab-link-primary-color: var(--color-blue) !important;

    --newtab-contextmenu-button-color: var(--color-darker-bg) !important;
    --newtab-contextmenu-background-color: var(--color-bg) !important;
}
