# Jest snippets
# =============

snippet describe "Describe block for Jest tests" b
describe('$1', () => {
    $0
});
endsnippet

snippet it "It block for Jest tests" b
it('$1', () => {
    $0
});
endsnippet

snippet test "Test block for Jest tests" b
test('$1', () => {
    $0
});
endsnippet
