# React snippets
# ==============

snippet fc "React functional component file"
import React from 'react';

const `!v expand('%:t:r')` = () => {
    return (
        $0
    )
}

export default `!v expand('%:t:r')`;
endsnippet

snippet scp "Styled components prop theme"
${props => props.theme.$0};
endsnippet
