snippet itemize "Itemize block" b
\begin{itemize}
	\item $1
\end{itemize}$0
endsnippet

snippet beg "begin{} / end{}" bA
\begin{$1}$0
\end{$1}
endsnippet

snippet texttt "texttt" A
\texttt{$1}$0
endsnippet
