[colors]
# Base16 Night Owl

foreground      = #d6deeb
foreground_bold = #d6deeb
cursor          = #7e57c2
background      = #011627

# Black
color0  = #011627
color8  = #575656

# Red
color1  = #ef5350
color9  = #ef5350

# Green
color2  = #22da6e
color10 = #22da6e

# Yellow
color3  = #addb67
color11 = #ffeb95

# Blue
color4  = #82aaff
color12 = #82aaff

# Magenta
color5  = #c792ea
color13 = #c792ea

# Cyan
color6  = #21c7a8
color14 = #7fdbca

# White
color7  = #ffffff
color15 = #ffffff


# 16 color space
# color0  = #282c34
# color1  = #e06c75
# color2  = #98c379
# color3  = #e5c07b
# color4  = #61afef
# color5  = #c678dd
# color6  = #56b6c2
# color7  = #abb2bf
# color8  = #545862
# color9  = #e06c75
# color10 = #98c379
# color11 = #e5c07b
# color12 = #61afef
# color13 = #c678dd
# color14 = #56b6c2
# color15 = #c8ccd4

# 256 color space
# color16 = #d19a66
# color17 = #be5046
# color18 = #353b45
# color19 = #3e4451
# color20 = #565c64
# color21 = #b6bdca


